<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ingresos-Egresos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ingresos-Egresos</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formIngresosEgresos" (ngSubmit)="save()">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Cantidad</ion-label>
        <ion-input formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> {{textType}} </ion-label>
        <ion-toggle color="danger" mode="ios" formControlName="type" ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select placeholder="Seleccionar" mode="ios" formControlName="category">
          <ion-select-option value="alimentacion"> ​Alimentación </ion-select-option>
          <ion-select-option value="vivienda"> Vivienda​ </ion-select-option>
          <ion-select-option value="transporte"> Transporte​ </ion-select-option>
          <ion-select-option value="salud"> Salud y autocuidado </ion-select-option>​
          <ion-select-option value="entretenimiento"> Entretenimiento y diversión </ion-select-option>
          <ion-select-option value="vestuario"> ​Vestuario​ </ion-select-option>
          <ion-select-option value="educacion"> Educación​ </ion-select-option>
          <ion-select-option value="comunicaciones"> Comunicaciones </ion-select-option>
          ​<ion-select-option value="otros"> Otros gastos </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" placeholder="Seleccionar"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-button type="submit" [disabled]="formIngresosEgresos.invalid"> Guardar </ion-button>
    </ion-row>
  </form>
</ion-content>
