<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Crear Registro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ingresos-Egresos</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formIngresosEgresos" (ngSubmit)="save()">
    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-radio-group value="biff" formControlName="type">
        <ion-list-header>
          <ion-label>Tipo</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Ingreso</ion-label>
          <ion-radio slot="start" value="ingreso" color="success"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Egreso</ion-label>
          <ion-radio slot="start" value="egreso" color="danger"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
      <ion-item>
        <ion-label position="floating" >Cantidad</ion-label>
        <ion-input type="number" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select interface="action-sheet" *ngIf="formIngresosEgresos.get('type').value === 'ingreso'" placeholder="Seleccionar" formControlName="category">
          <ion-select-option  [value]="item" *ngFor="let item of categoryIngreso" > {{item}} </ion-select-option>
        </ion-select>
        <ion-select interface="action-sheet" *ngIf="formIngresosEgresos.get('type').value === 'egreso'" placeholder="Seleccionar" formControlName="category">
          <ion-select-option  [value]="item" *ngFor="let item of categoryEgreso" > {{item}} </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" placeholder="Seleccionar"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-button type="submit" [disabled]="formIngresosEgresos.invalid"> Guardar </ion-button>
    </ion-row>
  </form>
</ion-content>
